# ===== IDE =====
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.vscode/
*.swp
*.swo
*~
.gitattributes

# ===== OS =====
.DS_Store
Thumbs.db

# ===== H2 Database =====
*.mv.db
*.trace.db
data/
# ===== Node =====
node_modules/

# ===== Python =====
__pycache__/
*.pyc